<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>
</head>
<body>
  <form action="/madlib">
    Give me your name
    <input type="text" name="person" value="person">
    Give me your favorite color
    <input type="text" name="color" value="color">
    Give me a noun
    <input type="text" name="noun" value="noun">
    Select an adjective
    <select  name="adjective" value="adjective">
        <option value="happy">Happy</option>
        <option value="long">Long</option>
        <option value="beautiful">Beautifull</option>
    </select>
    <button>Submit</button>
  </form>
</body>
</html>